# Ignore everything
*

# Don't ignore directories
!*/

# Don't ignore these specific files anywhere in the project
!**/main.c
!**/main.h
!**/aucustics.h
!**/humidity.h
!**/network_setup.h
!**/vibration.h
!**/buzzer.h
!**/temperature.h