# Build directory
build/

# Generated VS Code configs
.vscode/launch.json
.vscode/tasks.json

# IDE specific files
.settings/
.project
.cproject
.mxproject

# Binary files
*.o
*.d
*.elf
*.hex
*.bin
*.list
*.map