# Ignore everything
*

# Except the following files

!Core/Inc/main.h
!Core/Inc/aucustics.h
!Core/Inc/humidity.h
!Core/Inc/network_setup.h
!Core/Inc/vibration.h
!Core/Inc/buzzer.h

!Core/Src/main.c